[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "LongCART"]
	path = LongCART
	url = https://github.com/cran/LongCART
	shallow = true
	registered = true
